@import url("https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Work Sans", sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Space Mono", monospace;
  letter-spacing: 0.05em;
}

p {
  color: #ffffff99;
  padding: 0;
  margin: 0;
}

/* Begin first view styles */

.firstView {
  text-align: center;
  position: relative;
  height: 100vh;
  top: 0;
}

.profileImgContainer {
  display: block;
  width: 100%;
  padding-top: 3em;
  margin-bottom: 1em;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.introContainer {
  line-height: 1.3em;
  font-weight: 400;
  font-size: 1.3em;
}

.fancyGradient {
  position: relative;
  display: inline-block;
  padding: 0.2em;
}

.fancyGradient::before {
  content: "";
  position: absolute;
  padding: 0.2em;
  top: 0.2em;
  right: 0;
  left: 0;
  bottom: 0.2em;
  background: linear-gradient(270deg, #27c200, #00a5c2, #000cff, #b200f0, #ff0000);
  background-size: 400% 400%;
  animation: gradient 7s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fancyName {
  position: relative;
}

.blurbContainer {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  line-height: 1.3em;
  font-weight: 300;
  font-size: 1em;
  padding: 0.6em;
  margin: 2em;
}

.blurbContainer p {
  color: #ffffffdc;
  padding: 0.3em 0.1em;
}

.socialLink {
  padding: 0 0.2em;
}

.socialImg {
  width: 2em;
  height: 2em;
}

/* Begin scroll chevron styles */

.scrollContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 5em;
  cursor: pointer;
}

.chevronContainer {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.scrollChevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.scrollChevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.scrollChevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.scrollChevron:before,
.scrollChevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}

.scrollChevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.scrollChevron:after {
  right: 0;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

/* End scroll animation styles */

/* End first view styles */

/* Begin project list styles */

.sectionHeader {
  text-align: center;
}

.sectionHeader > h1 {
  font-size: 1.3em;
  padding: 0.7em 0;
}

.sectionArea {
  margin-top: 0.5em;
  background-color: #1f1f1f;
}

.project {
  border-top: 1px solid #424242;
  padding: 1em;
  display: flex;
  align-items: center;
}

.projImgContainer {
  width: 30%;
}

.projDescContainer {
  width: 70%;
}

.projDescTitle {
  font-size: 1.3em;
}

.projDesc {
  margin: 0.5em;
  font-size: 0.85em;
  line-height: 1.2em;
}

.projImg {
  width: 75%;
  height: 75%;
}

.projLink {
  width: 100%;
  text-align: left;
}

.fancyLink {
  display: inline-flex;
  line-height: 1.6em;
}

.fancyLinkText {
  position: relative;
  display: inline-block;
}

.fancyLinkText::before,
.fancyLinkText::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: left center;
}

.fancyLinkText::before {
  background: linear-gradient(135deg, #27c200, #00a5c2);
}

.fancyLinkText::after {
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) 0.1s,
    -webkit-transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) 0.1s;
}

.fancyLink:hover .fancyLinkText::after {
  transform: scaleX(1);
}

/* End project list styles */

/* Start post list styles */

.Blog {
  margin-top: 5em;
}

.blogPost {
  border-top: 1px solid #424242;
  padding: 1em;
}

.headerLink > h1 {
  font-size: 1.3em;
  padding: 0.7em 0;
}

.blogTitle {
  text-align: left;
}

.blogTitle > h2 {
  display: inline-block;
  font-size: 1.4em;
  padding-right: 0.5em;
  margin-bottom: 0.7em;
}

.blogTitle > span {
  color: #a0a0a0;
  float: right;
}

.blogDesc {
  margin: 0.5em;
}

.blogLink {
  width: 100%;
  text-align: right;
}

/* End post list styles */

/* Begin contact section styles */

.Contact {
  margin-top: 5em;
}

.fancyLinkText.email {
  padding-bottom: 0.2em;
  font-size: 1.1em;
}

.fancyLinkText.email::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #27c200, #00a5c2, #000cff, #b200f0, #ff0000);
  background-size: 400% 400%;
  animation: gradient 7s linear infinite;
}

.Contact .sectionArea {
  border-top: 1px solid #424242;
  padding: 1em 1em 1.3em 0;
}

.contactDesc {
  margin-top: 1em;
}

.socialContainer.contact {
  margin: 1.5em 0 0.5em 0;
}

.copyright {
  font-family: monospace;
  font-size: 1.2em;
  color: #919191;
}

/* End contact section styles */
