---
layout: index
title: Noah Yamamoto
---

<canvas id="canvas" class="canvas" width="0" height="0"></canvas>
<header class="firstView">
  <div class="profileImgContainer">
    <img
      src="images/profile.jpeg"
      class="profileImg"
      alt="Photo of Noah Yamamoto"
      />
  </div>
  <div class="introContainer">
    <div>Hi there, I'm</div>
    <span class="fancyGradient">
      <span class="fancyName">Noah Yamamoto</span>
    </span>
  </div>
  <div class="blurbContainer">
    <p>
      I'm a CIS student at Baruch College. I love making things on the web and
      have worked for cool companies like Marvel, Refugees United, and
      Squarespace (2019)
    </p>
  </div>
  <div class="socialContainer">
    <a
      href="https://instagram.com/egrodo"
      target="_blank"
      rel="noopener noreferrer"
      class="socialLink">
      <img src="images/instagram.svg" alt="Instagram Link" class="socialImg" />
    </a>
    <a
      href="https://www.linkedin.com/in/~noah"
      target="_blank"
      rel="noopener noreferrer"
      class="socialLink">
      <img src="images/linkedin.svg" alt="Linkedin Link" class="socialImg" />
    </a>
    <a
      href="https://github.com/Egrodo/"
      target="_blank"
      rel="noreferral noopener"
      class="socialLink">
      <img src="images/github.png" alt="Github Link" class="socialImg" />
    </a>
  </div>
  <a href="#Projects" class="scrollContainer">
    <div class="chevronContainer">
      <div class="scrollChevron"></div>
      <div class="scrollChevron"></div>
      <div class="scrollChevron"></div>
    </div>
  </a>
</header>
<section class="Projects" id="Projects">
  <div class="sectionHeader"><h1>Projects</h1></div>
  <div class="sectionArea">
    {% for post in site.data.projects limit: 3 %}
    <div class="project">
      <div class="projImgContainer">
        <img
          src="{{ post.image }}"
          class="projImg"
          alt="{{ post.title }} Image"
          />
      </div>
      <div class="projDescContainer">
        <h2 class="projDescTitle">{{ post.title }}</h2>
        <p class="projDesc">{{ post.description }}</p>
        <div class="projLink">
          <a
            class="fancyLink"
            href="{{ post.link }}"
            target="_blank"
            rel="noopener noreferrer">
            <span class="fancyLinkText"> Check it out </span>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section class="Blog" id="Blog">
  <div class="sectionHeader">
    <a href="{{ site.url }}/blog" class="headerLink" target="_blank"
      rel="noopener noreferrer" alt="Link to blog" title="Click to go to blog
      index">
      <h1>Write-Ups</h1>
    </a>
  </div>
  <div class="sectionArea">
    {% for post in site.posts limit: 3 %}
    <div class="blogPost">
      <div class="blogTitle">
        <h2>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <span>{{ post.date | date_to_string }}</span>
      </div>

      <p class="blogDesc">{{ post.excerpt }}</p>
      <div class="blogLink">
        <a
          class="fancyLink"
          href="{{ post.url }}"
          target="_blank"
          rel="noopener noreferrer">
          <span class="fancyLinkText"> Read More... </span>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% include contactView.html %}