<section class="Contact" id="Contact">
  <div class="sectionHeader">
    <h1>Contact</h1>
    <div class="sectionArea">
      <div class="emailLink">
        <a
          class="fancyLink"
          href="mailto:noahryamamoto@gmail.com"
          target="_blank"
          rel="noopener noreferrer">
          <span class="fancyLinkText email">
            NoahRYamamoto@gmail.com
          </span>
        </a>
      </div>
      <p class="contactDesc">
        Feel free to drop me an email if you have any inquiries or suggestions.
        I'm always looking for new opportunities to expand my skillset.
      </p>
      <div class="socialContainer contact">
        <a
          href="https://instagram.com/egrodo"
          target="_blank"
          rel="noopener noreferrer"
          class="socialLink">
          <img
            src="images/instagram.svg"
            alt="Instagram Link"
            class="socialImg"
            />
        </a>
        <a
          href="https://www.linkedin.com/in/~noah"
          target="_blank"
          rel="noopener noreferrer"
          class="socialLink">
          <img src="images/linkedin.svg" alt="Linkedin Link" class="socialImg"
            />
        </a>
        <a
          href="https://github.com/Egrodo/"
          target="_blank"
          rel="noreferral noopener"
          class="socialLink">
          <img src="images/github.png" alt="Github Link" class="socialImg" />
        </a>
      </div>
      <h5 class="copyright">Copyright &copy; {{ site.time | date: '%Y' }}</h5>
    </div>
  </div>
</section>