<header class="firstView">
  <div class="profileImgContainer">
    <img
      src="images/profile.jpeg"
      class="profileImg"
      alt="Photo of Noah Yamamoto"
      />
  </div>
  <div class="introContainer">
    <div>Hi there, I'm</div>
    <span class="fancyGradient">
      <span class="fancyName">Noah Yamamoto</span>
    </span>
  </div>
  <div class="blurbContainer">
    <p>
      I'm a CIS student at Baruch College. I love making things on the web and
      have worked for cool companies like Marvel, Refugees United, and
      Squarespace (2019)
    </p>
  </div>
  <div class="socialContainer">
    <a
      href="https://instagram.com/egrodo"
      target="_blank"
      rel="noopener noreferrer"
      class="socialLink">
      <img src="images/instagram.svg" alt="Instagram Link" class="socialImg" />
    </a>
    <a
      href="https://www.linkedin.com/in/~noah"
      target="_blank"
      rel="noopener noreferrer"
      class="socialLink">
      <img src="images/linkedin.svg" alt="Linkedin Link" class="socialImg" />
    </a>
    <a
      href="https://github.com/Egrodo/"
      target="_blank"
      rel="noreferral noopener"
      class="socialLink">
      <img src="images/github.png" alt="Github Link" class="socialImg" />
    </a>
  </div>
  <a href="#Projects" class="scrollContainer">
    <div class="chevronContainer">
      <div class="scrollChevron"></div>
      <div class="scrollChevron"></div>
      <div class="scrollChevron"></div>
    </div>
  </a>
</header>