/* Start header stuff */

.blogHeader {
  position: relative;
}

.topHeader {
  padding: 0.5em;
  background-color: #1f1f1f;
}

.nameContainer {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
}

.bottomHeader {
  background-color: #1f1f1f;
  border-bottom: 1px solid #424242;
  padding: .5em 0;
  text-align: center;
}

.stickyHeader {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.postCount {
  font-size: 1em;
  height: 1em;
}

/* End header stuff */

.content {
  position: relative;
  margin-top: 1em;
}

.indexBlurb {
  margin: 0 1em;
  text-align: center;
}

.postsArea {
  margin-top: 2em;
}

.postsArea > div {
  background-color: #1f1f1f;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
}
