.postHeader {
  width: 100%;

}

.topHeader {
  padding: 0.5em;
  background-color: #1f1f1f;
}

.nameContainer {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
}

.bottomHeader {
  background-color: #1f1f1f;
  border-bottom: 1px solid #424242;
  padding: .5em 0;
  text-align: center;
}

.stickyHeader {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.postCount {
  font-size: 1em;
  height: 1em;
}