.Blog {
  margin-top: 5em;
}

.sectionHeader {
  text-align: center;
}

.sectionHeader > h1 {
  font-size: 1.3em;
  padding: 0.7em 0;
}

.sectionHeader > h1 > a {
  background-color: black;
}

.sectionArea {
  margin-top: 0.5em;
  background-color: #1f1f1f;
}

.headerLink > h1 {
  font-size: 1.3em;
  padding: 0.7em 0;
}
