@import url('https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans');
* {
  box-sizing: border-box;
}

*::selection {
  background-color: #00a5c2;
  color: #f3f3f3;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Work Sans', sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Space Mono', monospace;
  letter-spacing: 0.05em;
}

p {
  color: #b9b9b9;
  padding: 0;
  margin: 0;
}

/* End globals */

.IndexHeader {
  position: sticky;
  top: 0;
}

.IndexSectionHeader {
  text-align: center;
  background-image: linear-gradient(to top, black 0px, black 35px, transparent);
  position: relative;
}

.IndexSectionHeader > h1 {
  font-size: 1.3em;
  padding: 1.2em 0;
}

.IndexContent {
  position: relative;
  background-color: transparent;
}
