.canvas {
  position: sticky;
  top: 0;
}

.content {
  position: relative;
}

.postHeader {
  width: 100%;
  /* display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr; */
}

.topHeader {
  padding: 0.5em;
  background-color: #1f1f1f;
}

.nameContainer {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
}

/* TODO: Put this back in a grid when desktop */
.leftArrowLink,
.rightArrowLink {
  display: inherit;
  position: fixed;
  z-index: 2;
  top: 18px;
}

.leftArrowLink {
  left: 30px;
}

.rightArrowLink {
  right: 45px;
}

/* nav arrow stuff */
.arrow {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.arrow > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  height: 13px;
  width: 13px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-width: 3px 3px 0 0;
  box-sizing: content-box;
}

.arrow > div::before,
.arrow > div::after {
  content: '';
  position: absolute;
  display: block;
  height: 13px;
  width: 13px;
  border-width: 3px 3px 0 0;
}

.arrow > div::after {
  border: 1px solid rgba(255, 255, 255, 1);
  border-width: 3px 3px 0 0;
  top: -11px;
  left: 8px;
}

.leftArrow {
  transform: rotate(-133deg);
}

.rightArrow {
  transform: rotate(45deg);
}

/* end nav arrow stuff */

.bottomHeader {
  background-color: #1f1f1f;
  border-bottom: 1px solid #424242;
  padding: .5em 0;
  text-align: center;
}

.stickyHeader {
  position: fixed;
  top: 0;
  width: 100%;
}

/* BUG: This changes sizes on stickying on mobile */
.postDate {
  font-size: 1em;
}

/* begin styling markdown content */

.postContent {
  margin: 1em;
}

.postContent p {
  margin: 1em 0;
}

.postContent p:first-of-type {
  text-indent: 2em;
}

.postContent p img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

/* fancyLink stuff */

.postContent p > a {
  position: relative;
  display: inline-block;
}

.postContent p > a::before,
.postContent p > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: left center;
}

.postContent p > a::before {
  background: linear-gradient(135deg, #27c200, #00a5c2);
}

.postContent p > a::after {
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) 0.1s;
}

.postContent p > a:hover::after {
  transform: scale(1);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* end styling markdown content */