.canvas {
  position: sticky;
  top: 0;
}

.content {
  position: relative;
}


/* begin styling markdown content */

.postContent {
  margin: 1em;
}

.postContent p {
  margin: 1em 0;
}

.postContent p:first-of-type {
  text-indent: 2em;
}

.postContent p img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

/* fancyLink stuff */

.postContent p > a {
  position: relative;
  display: inline-block;
}

.postContent p > a::before,
.postContent p > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: left center;
}

.postContent p > a::before {
  background: linear-gradient(135deg, #27c200, #00a5c2);
}

.postContent p > a::after {
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) 0.1s;
}

.postContent p > a:hover::after {
  transform: scale(1);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 550px) {
  .postContent p img {
    width: 300px;
  }
}

@media only screen and (min-width: 650px) {
  .postContent div {
    width: 600px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1300px) {
  .postContent div {
    width: 740px;
  }
}

@media only screen and (min-width: 1700px) {
  .postContent div {
    width: 1000px;
  }

  .postContent p {
    font-size: 1.1em;
  }
}

/* end styling markdown content */