
.postHeader {
  width: 100%;
  /* display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr; */
}

.topHeader {
  padding: 0.5em;
  background-color: #1f1f1f;
}

.nameContainer {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
}

/* TODO: Put this back in a grid when desktop */
.leftArrowLink,
.rightArrowLink {
  display: inherit;
  position: fixed;
  z-index: 2;
  top: 18px;
}

.leftArrowLink {
  left: 30px;
}

.rightArrowLink {
  right: 45px;
}

/* If no more posts in given direction, hide */
.leftArrowLink.disabled,
.rightArrowLink.disabled {
  visibility: hidden;
}

/* nav arrow stuff */
.arrow {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.arrow > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  height: 13px;
  width: 13px;
  border: 1px solid #979797;
  border-width: 3px 3px 0 0;
  box-sizing: content-box;
}

.arrow > div::before,
.arrow > div::after {
  content: '';
  position: absolute;
  display: block;
  height: 13px;
  width: 13px;
  border-width: 3px 3px 0 0;
}

.arrow > div::after {
  border: 1px solid white;
  border-width: 3px 3px 0 0;
  top: -11px;
  left: 8px;
}

.leftArrow {
  transform: rotate(-133deg);
}

.rightArrow {
  transform: rotate(45deg);
}

/* end nav arrow stuff */

.bottomHeader {
  background-color: #1f1f1f;
  border-bottom: 1px solid #424242;
  padding: .5em 0;
  text-align: center;
}

.stickyHeader {
  position: fixed;
  top: 0;
  width: 100%;
}

/* BUG: This changes sizes on stickying on mobile */
.postDate {
  font-size: 1em;
}