.Blog {
  margin-top: 5em;
}

.blogPost {
  border-top: 1px solid #424242;
  padding: 1em;
}

.headerLink > h1 {
  font-size: 1.3em;
  padding: 0.7em 0;
}

.blogTitle {
  width: 100%;
  margin-bottom: 0.7em;
  display: -ms-flexbox;
  display: flex;
}

.leftInline {
  display: inline-block;
  text-align: left;
}

.rightInline {
  display: inline-block;
  text-align: right;
}

.postTitle {
  width: 100%;
}

.postTitle > h2 {
  font-size: 1.4em;
}

.postDate {
  color: #a0a0a0;
  text-align: right;
  width: 50%;
}

.blogDesc {
  margin: 0.5em;
}

.blogLink {
  width: 100%;
  text-align: right;
}
