.Blog {
  margin-top: 5em;
}

.sectionHeader {
  text-align: center;
}

.sectionHeader > h1 {
  font-size: 1.3em;
  padding: 0.7em 0;
}

.sectionArea {
  margin-top: 0.5em;
  background-color: #1f1f1f;
}

.blogPost {
  border-top: 1px solid #424242;
  padding: 1em;
}

.headerLink > h1 {
  font-size: 1.3em;
  padding: 0.7em 0;
}

.blogTitle {
  width: 100%;
  margin-bottom: 0.7em;
  display: flex;
}

.leftInline {
  display: inline-block;
  text-align: left;
}

.rightInline {
  display: inline-block;
  text-align: right;
}

.postTitle {
  width: 100%;
}

.postTitle > h2 {
  font-size: 1.4em;
}

.postDate {
  color: #a0a0a0;
  text-align: right;
  width: 50%;
}

.blogDesc {
  margin: 0.5em;
}

.blogLink {
  width: 100%;
  text-align: right;
}


/* Begin breakpoints */

@media only screen and (min-width: 700px) {
  .blogPost {
    padding: 1em 50px;
  }
  .blogDesc {
    margin: 1em auto;
    width: 600px;
  }
}

@media only screen and (min-width: 900px) {
  .blogPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
  }

  .blogTitle {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
  }

  .postTitle {
    font-size: 1.2em;
    margin-bottom: .5em;
  }

  .postDate {
    width: auto;
    display: block;
    text-align: left;
    font-size: 1em;
  }

  .blogDesc {
    width: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .blogPost {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1500px) {
  .blogPost {
    grid-template-columns: 0.7fr 1.3fr;
    padding: 2em 4em;
  }
}

/* End breakpoints */