.sectionHeader {
  text-align: center;
}

.sectionHeader > h1 {
  font-size: 1.3em;
  padding: 0.7em 0;
}

.sectionArea {
  margin-top: 0.5em;
  background-color: #1f1f1f;
}

.project {
  border-top: 1px solid #424242;
  padding: 1em;
  display: flex;
  align-items: center;
}

.projImgContainer {
  width: 30%;
}

.projDescContainer {
  width: 70%;
}

.projDescTitle {
  font-size: 1.3em;
}

.projDesc {
  margin: 0.5em;
  font-size: 0.85em;
  line-height: 1.2em;
}

.projImg {
  position: inherit;
  width: 75%;
  height: 75%;
}

.projLink {
  width: 100%;
  text-align: left;
}
