.sectionHeader {
  text-align: center;
  background-image: linear-gradient(to top, black 0px, black 10px, transparent);
}

.sectionHeader > h1 {
  font-size: 1.3em;
  padding: 0.5em 0;
}

.sectionArea {
  background-color: #1f1f1f;
}

.project {
  border-top: 1px solid #424242;
  padding: 1em;
  display: flex;
  align-items: center;
}

.projImgContainer {
  width: 30%;
}

.projDescContainer {
  width: 70%;
}

.projDescTitle {
  font-size: 1.3em;
}

.projDesc {
  margin: 0.5em;
  font-size: 0.85em;
  line-height: 1.2em;
}

.projImg {
  position: inherit;
  width: 75%;
  height: 75%;
}

.projLink {
  width: 100%;
  text-align: left;
}

/* Begin breakpoints */

@media only screen and (min-width: 700px) {
  .projImgContainer {
    width: 20%;
    height: 20%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .projImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    height: 15%;
  }

  .projDescContainer {
    width: 80%;
    padding: 0 50px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1500px) {
  .project {
    padding: 2em 0;
  }
  .projImgContainer {
    width: 12%;
    height: 12%;
  }
}

/* End breakpoints */