@import url("https://fonts.googleapis.com/css?family=Aleo:300,400");

body {
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: "Aleo", serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/* Begin first view styles */

.firstView {
  text-align: center;
  position: relative;
  height: 100vh;
  top: 0;
}

.profileImgContainer {
  display: block;
  width: 100%;
  padding-top: 3em;
  margin-bottom: 1em;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.introContainer {
  line-height: 1.3em;
  font-weight: 400;
  font-size: 1.3em;
}

.fancyGradient {
  position: relative;
  display: inline-block;
  padding: 0.2em;
}

.fancyGradient::before {
  content: "";
  position: absolute;
  padding: 0.2em;
  top: 0.2em;
  right: 0;
  left: 0;
  bottom: 0.2em;

  background: linear-gradient(272deg, #27c200, #00a5c2, #000cff, #b200f0);
  background-size: 400% 400%;
  animation: gradient 10s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fancyName {
  position: relative;
}

.blurbContainer {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  line-height: 1.3em;
  font-weight: 300;
  font-size: 0.9em;
  padding: 0.6em;
  margin: 2em 2em 1em 2em;
}

.socialImg {
  width: 2em;
  height: 2em;
  padding: 0 0.2em;
}

/* Begin scroll animation styles */
/* TODO: Fix size of this so clicking works */
.scrollContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 7em;
  cursor: pointer;
}

.chevronContainer {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.scrollChevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.scrollChevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.scrollChevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.scrollChevron:before,
.scrollChevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}

.scrollChevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.scrollChevron:after {
  right: 0;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

/* End scroll animation styles */

/* End first view styles */

.Projects {
  background-color: rgb(31, 31, 31);
}

.projHeader {
  border-top: 1px solid rgb(66, 66, 66);
  text-align: center;
}

.projHeader > h1 {
  font-size: 1.3em;
  padding: 0.7em 0;
}

.project {
  padding: 0 1em;
  height: 20vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}

.projImgContainer {
  width: 30%;
}

.projDescContainer {
  width: 70%;
}

.projDesc {
  margin: 0.5em;
}

.projImg {
  width: 75%;
  height: 75%;
}

.projLink {
  text-align: right;
  color: blue;
  width: 100%;
}
